# Ignore virtual environment
venv/

# Ignore cache and logs
__pycache__/
*.pyc
*.log

# Ignore VS Code settings
.vscode/

# Ignore Streamlit secrets/configs
.streamlit/secrets.toml
# ignore the model
.h5
